In [1]:
import psycopg2
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd

In [3]:
def conectar_banco():
    try:
        conn = psycopg2.connect(
            dbname="banco2",
            user="postgres",
            password="Gumattos2",
            host="localhost",  
            port="5432"        
        )
        print("Conexão bem-sucedida!")
        return conn
    except Exception as e:
        print("Erro ao conectar ao banco de dados:", e)
        return None
    
    # Testar conexão
conexao = conectar_banco()
if conexao:
    conexao.close()

def buscar_dados(query):
    conn = conectar_banco()
    if not conn:
        return []
    
    try:
        cur = conn.cursor()
        cur.execute(query)
        dados = cur.fetchall()
        colunas = [desc[0] for desc in cur.description]  # Nome das colunas
        cur.close()
        conn.close()
        return dados, colunas
    except Exception as e:
        print("Erro ao buscar dados:", e)
        return []

Conexão bem-sucedida!

In [4]:
project_data, project_columns = buscar_dados("SELECT * FROM projetos")
projects_df = pd.DataFrame(project_data, columns=project_columns)
projects_df

Conexão bem-sucedida!

,id_professor,nome,anopubli,tipo,departamento
0,6b6fed82-9885-4a57-aa34-afdfc6223a5a,ESTUDO TEORICO DA ESTRUTURA GEOMETRICA E PROPR...,1997,PESQUISA,Departamento de Matemática e Estatística
1,6b6fed82-9885-4a57-aa34-afdfc6223a5a,EDUCACAO PARA O CONSUMO RESPONSAVEL,2010,PESQUISA,Departamento de Matemática e Estatística
2,6b6fed82-9885-4a57-aa34-afdfc6223a5a,MATEMATICA BASICA PARA REDE PUBLICA DE PONTA G...,2017,EXTENSAO,Departamento de Matemática e Estatística
3,6b6fed82-9885-4a57-aa34-afdfc6223a5a,ASPECTOS TEORICOS DOS METAIS LIQUIDOS,2003,PESQUISA,Departamento de Matemática e Estatística
4,98bfd074-de25-4823-a299-5c173a56fb76,EFEITO DE EXTRATOS AQUOSOS DE PLANTAS NA BIOLO...,1998,PESQUISA,Departamento de Fitotecnia e Fitossanidade/DEFITO
...,...,...,...,...,...
3795,d5c0015f-5d39-4758-a7d4-208c62c15fb0,ASPECTOS FITOSSOCIOLOGICOS E INFRAESTRUTURA DA...,2009,PESQUISA,Departamento de Geociências
3796,d5c0015f-5d39-4758-a7d4-208c62c15fb0,ANALISE QUALIQUANTITATIVA DA INFRAESTRUTURA DA...,2010,PESQUISA,Departamento de Geociências
3797,"162d8b24-754b-4da7-9e94-05ef6cc3d887,2c585e63-...",AVALIACAO DA DISTRIBUICAO ESPACIAL DA ARBORIZA...,2017,PESQUISA,"Departamento de Informática,Departamento de Ge..."
3798,d5c0015f-5d39-4758-a7d4-208c62c15fb0,"PROGRAMA INTEGRADO DE ENSINO, PESQUISA E EXTEN...",2016,OUTRA,Departamento de Geociências
3799,d5c0015f-5d39-4758-a7d4-208c62c15fb0,DIAGNOSTICO DA ARBORIZACAO URBANA DE VIAS PUBL...,2013,PESQUISA,Departamento de Geociências

In [9]:
dep_prod_df = projects_df.groupby(['departamento', 'anopubli'])['nome'].count().reset_index()
dep_prod_df.rename(columns={"nome": "quantidade_produ"}, inplace=True)
dep_prod_df

,departamento,anopubli,quantidade_produ
0,Departamento de Ciências do Solo e Engenharia ...,1991,1
1,Departamento de Ciências do Solo e Engenharia ...,1996,2
2,Departamento de Ciências do Solo e Engenharia ...,1997,2
3,Departamento de Ciências do Solo e Engenharia ...,1999,1
4,Departamento de Ciências do Solo e Engenharia ...,2000,2
...,...,...,...
435,Departamento de Zootecnia,2022,21
436,Departamento de Zootecnia,2023,12
437,Departamento de Zootecnia,2024,1
438,"Departamento de Zootecnia,Departamento de Ciên...",2009,2
439,"Departamento de Zootecnia,Departamento de Enge...",2017,1